ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  justifiy-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
}
ul li {
  color: white;
  margin: 1 rem;
}
